In [55]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules, apriori

In [56]:
sales_reciepts = pd.read_csv("data-sets/201904 sales reciepts.csv")

In [57]:
sales_reciepts.head()

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,7,2019-04-01,12:04:43,3,12,558,N,1,1,52,1,2.50,2.50,N
1,11,2019-04-01,15:54:39,3,17,781,N,1,1,27,2,7.00,3.50,N
2,19,2019-04-01,14:34:59,3,17,788,Y,1,1,46,2,5.00,2.50,N
3,32,2019-04-01,16:06:04,3,12,683,N,1,1,23,2,5.00,2.50,N
4,33,2019-04-01,19:18:37,3,17,99,Y,1,1,34,1,2.45,2.45,N

In [58]:
product = pd.read_csv("data-sets/product.csv")

print(product.head())

   product_id    product_group product_category       product_type  \
0           1  Whole Bean/Teas     Coffee beans      Organic Beans
1           2  Whole Bean/Teas     Coffee beans  House blend Beans
2           3  Whole Bean/Teas     Coffee beans     Espresso Beans
3           4  Whole Bean/Teas     Coffee beans     Espresso Beans
4           5  Whole Bean/Teas     Coffee beans      Gourmet Beans

                    product  \
0       Brazilian - Organic
1  Our Old Time Diner Blend
2            Espresso Roast
3      Primo Espresso Roast
4    Columbian Medium Roast

                                 product_description unit_of_measure  \
0     It's like Carnival in a cup. Clean and smooth.           12 oz
1  Out packed blend of beans that is reminiscent ...           12 oz
2          Our house blend for a good espresso shot.            1 lb
3   Our primium single source of hand roasted beans.            1 lb
4           A smooth cup of coffee any time of day.             1 lb

   current_wholesale_price current_retail_price tax_exempt_yn promo_yn  \
0                    14.40              $18.00              Y        N
1                    14.40              $18.00              Y        N
2                    11.80              $14.75              Y        N
3                    16.36              $20.45              Y        N
4                    12.00              $15.00              Y        N

  new_product_yn
0              N
1              N
2              N
3              N
4              N

In [59]:
dataset = pd.merge(sales_reciepts[['transaction_id','transaction_date', 'sales_outlet_id', 'customer_id', 'product_id', 'quantity']],
                      product[['product_id', 'product_category', 'product']],
                      on ='product_id', how = 'left' )
dataset.head()

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product
0,7,2019-04-01,3,558,52,1,Tea,Traditional Blend Chai Rg
1,11,2019-04-01,3,781,27,2,Coffee,Brazilian Lg
2,19,2019-04-01,3,788,46,2,Tea,Serenity Green Tea Rg
3,32,2019-04-01,3,683,23,2,Coffee,Our Old Time Diner Blend Rg
4,33,2019-04-01,3,99,34,1,Coffee,Jamaican Coffee River Sm

In [60]:
dataset[dataset['product'].str.contains('Dark chocolate')]['product'].unique()

array(['Dark chocolate Lg', 'Dark chocolate Rg', 'Dark chocolate'],
      dtype=object)

In [61]:
dataset['product']= dataset['product'].str.replace(' Rg','')
dataset['product']= dataset['product'].str.replace(' Sm','')
dataset['product']= dataset['product'].str.replace(' Lg','')

In [62]:
dataset["product"].nunique()

45

In [63]:
products_to_take = ['Cappuccino', 'Latte', 'Espresso shot',  \
                     'Dark chocolate','Sugar Free Vanilla syrup', 'Chocolate syrup',\
                    'Carmel syrup', 'Hazelnut syrup', 'Ginger Scone',  \
                    'Chocolate Croissant', 'Jumbo Savory Scone', 'Cranberry Scone', 'Hazelnut Biscotti',\
                    'Croissant', 'Almond Croissant', 'Oatmeal Scone', 'Chocolate Chip Biscotti',\
                    'Ginger Biscotti',\
                   ]

In [64]:
dataset = dataset[dataset['product'].isin(products_to_take)]

In [65]:

dataset['product'].nunique()

18

In [66]:
dataset[['product','product_category']].drop_duplicates().reset_index(drop=True)

                     product    product_category
0                 Cappuccino              Coffee
1              Espresso shot              Coffee
2                      Latte              Coffee
3             Dark chocolate  Drinking Chocolate
4              Oatmeal Scone              Bakery
5         Jumbo Savory Scone              Bakery
6    Chocolate Chip Biscotti              Bakery
7            Ginger Biscotti              Bakery
8        Chocolate Croissant              Bakery
9          Hazelnut Biscotti              Bakery
10           Cranberry Scone              Bakery
11                 Croissant              Bakery
12          Almond Croissant              Bakery
13              Ginger Scone              Bakery
14           Chocolate syrup            Flavours
15            Hazelnut syrup            Flavours
16              Carmel syrup            Flavours
17  Sugar Free Vanilla syrup            Flavours
18            Dark chocolate  Packaged Chocolate

In [67]:
dataset['transaction'] = dataset['transaction_id'].astype(str) +"_"+  dataset['customer_id'].astype(str)

In [68]:
num_of_items_for_each_transaction = dataset['transaction'].value_counts().reset_index()
valid_transactions = num_of_items_for_each_transaction[(num_of_items_for_each_transaction['count']>1)]['transaction'].tolist()
dataset = dataset[dataset['transaction'].isin(valid_transactions)]

In [69]:
num_of_items_for_each_transaction = dataset['transaction'].value_counts().reset_index()
num_of_items_for_each_transaction.head()

  transaction  count
0       209_0     31
1       206_0     30
2       204_0     27
3       208_0     25
4       203_0     24

In [70]:
valid_transactions= num_of_items_for_each_transaction[(num_of_items_for_each_transaction['count']>1)]['transaction'].tolist()
valid_transactions[:10]

['209_0',
 '206_0',
 '204_0',
 '208_0',
 '203_0',
 '207_0',
 '205_0',
 '151_0',
 '301_0',
 '323_0']

In [71]:
dataset[dataset['transaction'].isin(valid_transactions)]

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product,transaction
34,199,2019-04-01,3,112,41,2,Coffee,Cappuccino,199_112
35,199,2019-04-01,3,112,79,1,Bakery,Jumbo Savory Scone,199_112
54,296,2019-04-01,3,328,39,1,Coffee,Latte,296_328
55,296,2019-04-01,3,328,79,1,Bakery,Jumbo Savory Scone,296_328
64,357,2019-04-01,3,530,41,2,Coffee,Cappuccino,357_530
...,...,...,...,...,...,...,...,...,...
49880,736,2019-04-29,8,0,38,1,Coffee,Latte,736_0
49883,742,2019-04-29,8,0,41,1,Coffee,Cappuccino,742_0
49884,742,2019-04-29,8,0,74,1,Bakery,Ginger Biscotti,742_0
49885,746,2019-04-29,8,0,37,2,Coffee,Espresso shot,746_0
49886,746,2019-04-29,8,0,71,1,Bakery,Chocolate Croissant,746_0

In [72]:
dataset.shape

(10189, 9)

In [73]:
dataset['product'].value_counts()

product
Cappuccino                  1290
Latte                       1256
Dark chocolate               969
Chocolate Croissant          636
Espresso shot                628
Sugar Free Vanilla syrup     605
Chocolate syrup              568
Carmel syrup                 561
Hazelnut syrup               512
Ginger Scone                 417
Jumbo Savory Scone           357
Croissant                    355
Chocolate Chip Biscotti      352
Cranberry Scone              350
Almond Croissant             347
Hazelnut Biscotti            338
Oatmeal Scone                334
Ginger Biscotti              314
Name: count, dtype: int64

In [74]:
product_recommendation = dataset.groupby(['product', "product_category"]).count().reset_index()

In [75]:
product_recommendation = product_recommendation[['product', 'product_category', 'transaction_id']]
product_recommendation = product_recommendation.rename(columns = {'transaction_id': 'number_of_transactions'})

In [76]:
product_recommendation.head()

                   product product_category  number_of_transactions
0         Almond Croissant           Bakery                     347
1               Cappuccino           Coffee                    1290
2             Carmel syrup         Flavours                     561
3  Chocolate Chip Biscotti           Bakery                     352
4      Chocolate Croissant           Bakery                     636

In [77]:
product_recommendation.to_csv('api/recommendation_objects/popularity_recommendation.csv',index=False)

In [78]:
train_basket = (dataset.groupby(['transaction', 'product'])['product'].count().reset_index(name='Count'))
train_basket.head()

  transaction         product  Count
0      1000_0  Dark chocolate      1
1      1000_0   Oatmeal Scone      1
2   1001_8306      Cappuccino      1
3   1001_8306    Carmel syrup      1
4      1002_0    Carmel syrup      1

In [79]:
my_basket = train_basket.pivot_table(index="transaction", columns="product", values="Count").fillna(0)
my_basket.head()

product,Almond Croissant,Cappuccino,Carmel syrup,Chocolate Chip Biscotti,Chocolate Croissant,Chocolate syrup,Cranberry Scone,Croissant,Dark chocolate,Espresso shot,Ginger Biscotti,Ginger Scone,Hazelnut Biscotti,Hazelnut syrup,Jumbo Savory Scone,Latte,Oatmeal Scone,Sugar Free Vanilla syrup
transaction,,,,,,,,,,,,,,,,,,
1000_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1001_8306,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002_0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1004_5383,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1005_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0

In [80]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >0 :
        return 1

my_basket_sets =  my_basket.map(encode_units)
my_basket_sets.head(10)

product,Almond Croissant,Cappuccino,Carmel syrup,Chocolate Chip Biscotti,Chocolate Croissant,Chocolate syrup,Cranberry Scone,Croissant,Dark chocolate,Espresso shot,Ginger Biscotti,Ginger Scone,Hazelnut Biscotti,Hazelnut syrup,Jumbo Savory Scone,Latte,Oatmeal Scone,Sugar Free Vanilla syrup
transaction,,,,,,,,,,,,,,,,,,
1000_0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1001_8306,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1002_0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0
1004_5383,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1005_0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
1005_5559,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
1006_0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1007_8375,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1008_0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
1009_5183,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [81]:
frequent_items = apriori(my_basket_sets, min_support=0.05, use_colnames=True)
frequent_items.head(40)

/Users/Alvin/Library/Caches/pypoetry/virtualenvs/shopping-assistant-w40lWNq4-py3.13/lib/python3.13/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                   itemsets
0   0.115646                         (Almond Croissant)
1   0.388889                               (Cappuccino)
2   0.191232                             (Carmel syrup)
3   0.112623                  (Chocolate Chip Biscotti)
4   0.135676                      (Chocolate Croissant)
5   0.188964                          (Chocolate syrup)
6   0.116024                          (Cranberry Scone)
7   0.114135                                (Croissant)
8   0.277022                           (Dark chocolate)
9   0.209373                            (Espresso shot)
10  0.106198                          (Ginger Biscotti)
11  0.133409                             (Ginger Scone)
12  0.105442                        (Hazelnut Biscotti)
13  0.171580                           (Hazelnut syrup)
14  0.114890                       (Jumbo Savory Scone)
15  0.382086                                    (Latte)
16  0.109599                            (Oatmeal Scone)
17  0.200302                 (Sugar Free Vanilla syrup)
18  0.053288             (Cappuccino, Almond Croissant)
19  0.057445         (Dark chocolate, Almond Croissant)
20  0.054422                  (Latte, Almond Croissant)
21  0.102797                 (Carmel syrup, Cappuccino)
22  0.056311      (Cappuccino, Chocolate Chip Biscotti)
23  0.056311          (Cappuccino, Chocolate Croissant)
24  0.109599              (Cappuccino, Chocolate syrup)
25  0.052532              (Cappuccino, Cranberry Scone)
26  0.056311                    (Croissant, Cappuccino)
27  0.095616               (Cappuccino, Dark chocolate)
28  0.054800                (Cappuccino, Espresso shot)
29  0.053666              (Ginger Biscotti, Cappuccino)
30  0.059713                 (Cappuccino, Ginger Scone)
31  0.090325               (Cappuccino, Hazelnut syrup)
32  0.055178           (Cappuccino, Jumbo Savory Scone)
33  0.097128                        (Cappuccino, Latte)
34  0.113001     (Cappuccino, Sugar Free Vanilla syrup)
35  0.055178             (Carmel syrup, Dark chocolate)
36  0.060469              (Carmel syrup, Espresso shot)
37  0.107710                      (Carmel syrup, Latte)
38  0.053666  (Dark chocolate, Chocolate Chip Biscotti)
39  0.060091      (Dark chocolate, Chocolate Croissant)

In [82]:
rules_basket = association_rules(frequent_items, metric='lift', min_threshold=1)
rules_basket.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Cappuccino),(Almond Croissant),0.388889,0.115646,0.053288,0.137026,1.184874,0.008314,1.024775,0.255319
1,(Almond Croissant),(Cappuccino),0.115646,0.388889,0.053288,0.460784,1.184874,0.008314,1.133333,0.176432
2,(Dark chocolate),(Almond Croissant),0.277022,0.115646,0.057445,0.207367,1.793115,0.025409,1.115717,0.611791
3,(Almond Croissant),(Dark chocolate),0.115646,0.277022,0.057445,0.496732,1.793115,0.025409,1.436567,0.500152
4,(Latte),(Almond Croissant),0.382086,0.115646,0.054422,0.142433,1.231629,0.010235,1.031236,0.304358

In [83]:
product_categories = dataset[['product', 'product_category']].drop_duplicates().set_index('product').to_dict()['product_category']

In [84]:
product_categories

{'Cappuccino': 'Coffee',
 'Jumbo Savory Scone': 'Bakery',
 'Latte': 'Coffee',
 'Chocolate Chip Biscotti': 'Bakery',
 'Espresso shot': 'Coffee',
 'Hazelnut Biscotti': 'Bakery',
 'Chocolate Croissant': 'Bakery',
 'Dark chocolate': 'Packaged Chocolate',
 'Cranberry Scone': 'Bakery',
 'Croissant': 'Bakery',
 'Almond Croissant': 'Bakery',
 'Ginger Biscotti': 'Bakery',
 'Oatmeal Scone': 'Bakery',
 'Ginger Scone': 'Bakery',
 'Chocolate syrup': 'Flavours',
 'Hazelnut syrup': 'Flavours',
 'Carmel syrup': 'Flavours',
 'Sugar Free Vanilla syrup': 'Flavours'}

In [87]:
recommendations_json = {}

antecedents = rules_basket['antecedents'].unique()
for antecedent in antecedents:
    df_rec = rules_basket[rules_basket['antecedents']==antecedent]
    df_rec = df_rec.sort_values('confidence',ascending=False)
    key = "_".join(antecedent)
    recommendations_json[key] = []
    for _, row in df_rec.iterrows():
        rec_objects =row['consequents']
        for rec_object in rec_objects:
            already_exists = False
            for current_rec_object in recommendations_json[key]:
                if rec_object == current_rec_object['product']:
                    already_exists=True
            if already_exists:
                continue
            
            rec = {'product':rec_object, 
                   'product_category':product_categories[rec_object],
                   'confidence': row['confidence']
                  }
            recommendations_json[key].append(rec)

In [88]:
import pprint
pprint.pp(recommendations_json)

{'Cappuccino': [{'product': 'Sugar Free Vanilla syrup',
                 'product_category': 'Flavours',
                 'confidence': 0.29057337220602525},
                {'product': 'Chocolate syrup',
                 'product_category': 'Flavours',
                 'confidence': 0.2818270165208941},
                {'product': 'Carmel syrup',
                 'product_category': 'Flavours',
                 'confidence': 0.26433430515063167},
                {'product': 'Hazelnut syrup',
                 'product_category': 'Flavours',
                 'confidence': 0.23226433430515062},
                {'product': 'Ginger Scone',
                 'product_category': 'Bakery',
                 'confidence': 0.15354713313896987},
                {'product': 'Chocolate Chip Biscotti',
                 'product_category': 'Bakery',
                 'confidence': 0.14480077745383868},
                {'product': 'Chocolate Croissant',
                 'product_category': 'Bakery',
                 'confidence': 0.14480077745383868},
                {'product': 'Croissant',
                 'product_category': 'Bakery',
                 'confidence': 0.14480077745383868},
                {'product': 'Jumbo Savory Scone',
                 'product_category': 'Bakery',
                 'confidence': 0.14188532555879496},
                {'product': 'Ginger Biscotti',
                 'product_category': 'Bakery',
                 'confidence': 0.1379980563654033},
                {'product': 'Almond Croissant',
                 'product_category': 'Bakery',
                 'confidence': 0.13702623906705538},
                {'product': 'Cranberry Scone',
                 'product_category': 'Bakery',
                 'confidence': 0.13508260447035958}],
 'Almond Croissant': [{'product': 'Dark chocolate',
                       'product_category': 'Packaged Chocolate',
                       'confidence': 0.4967320261437908},
                      {'product': 'Latte',
                       'product_category': 'Coffee',
                       'confidence': 0.47058823529411764},
                      {'product': 'Cappuccino',
                       'product_category': 'Coffee',
                       'confidence': 0.46078431372549017}],
 'Dark chocolate': [{'product': 'Espresso shot',
                     'product_category': 'Coffee',
                     'confidence': 0.22100954979536153},
                    {'product': 'Chocolate Croissant',
                     'product_category': 'Bakery',
                     'confidence': 0.2169167803547067},
                    {'product': 'Ginger Scone',
                     'product_category': 'Bakery',
                     'confidence': 0.21555252387448842},
                    {'product': 'Almond Croissant',
                     'product_category': 'Bakery',
                     'confidence': 0.20736698499317874},
                    {'product': 'Cranberry Scone',
                     'product_category': 'Bakery',
                     'confidence': 0.2032742155525239},
                    {'product': 'Carmel syrup',
                     'product_category': 'Flavours',
                     'confidence': 0.19918144611186905},
                    {'product': 'Chocolate Chip Biscotti',
                     'product_category': 'Bakery',
                     'confidence': 0.19372442019099592},
                    {'product': 'Chocolate syrup',
                     'product_category': 'Flavours',
                     'confidence': 0.19099590723055934},
                    {'product': 'Jumbo Savory Scone',
                     'product_category': 'Bakery',
                     'confidence': 0.18553888130968624},
                    {'product': 'Croissant',
                     'product_category': 'Bakery',
                     'confidence': 0.18417462482946795}],
 'Latte': [{'product': 'Sugar Free Vanilla syrup',
            'product_category': 'Flavours',
            'confidence': 0.28486646884273},
           {'product': 'Carmel syrup',
            'product_category': 'Flavours',
            'confidence': 0.2818991097922849},
           {'product': 'Chocolate syrup',
            'product_category': 'Flavours',
            'confidence': 0.27002967359050445},
           {'product': 'Hazelnut syrup',
            'product_category': 'Flavours',
            'confidence': 0.26508407517309596},
           {'product': 'Croissant',
            'product_category': 'Bakery',
            'confidence': 0.14935707220573688},
           {'product': 'Chocolate Croissant',
            'product_category': 'Bakery',
            'confidence': 0.1444114737883284},
           {'product': 'Ginger Scone',
            'product_category': 'Bakery',
            'confidence': 0.1444114737883284},
           {'product': 'Almond Croissant',
            'product_category': 'Bakery',
            'confidence': 0.142433234421365},
           {'product': 'Ginger Biscotti',
            'product_category': 'Bakery',
            'confidence': 0.1414441147378833},
           {'product': 'Cranberry Scone',
            'product_category': 'Bakery',
            'confidence': 0.13452027695351138}],
 'Carmel syrup': [{'product': 'Latte',
                   'product_category': 'Coffee',
                   'confidence': 0.5632411067193677},
                  {'product': 'Cappuccino',
                   'product_category': 'Coffee',
                   'confidence': 0.5375494071146245},
                  {'product': 'Espresso shot',
                   'product_category': 'Coffee',
                   'confidence': 0.31620553359683795},
                  {'product': 'Dark chocolate',
                   'product_category': 'Packaged Chocolate',
                   'confidence': 0.2885375494071146}],
 'Chocolate Chip Biscotti': [{'product': 'Cappuccino',
                              'product_category': 'Coffee',
                              'confidence': 0.5},
                             {'product': 'Dark chocolate',
                              'product_category': 'Packaged Chocolate',
                              'confidence': 0.47651006711409394}],
 'Chocolate Croissant': [{'product': 'Dark chocolate',
                          'product_category': 'Packaged Chocolate',
                          'confidence': 0.44289693593314766},
                         {'product': 'Cappuccino',
                          'product_category': 'Coffee',
                          'confidence': 0.415041782729805},
                         {'product': 'Latte',
                          'product_category': 'Coffee',
                          'confidence': 0.40668523676880225}],
 'Chocolate syrup': [{'product': 'Cappuccino',
                      'product_category': 'Coffee',
                      'confidence': 0.58},
                     {'product': 'Latte',
                      'product_category': 'Coffee',
                      'confidence': 0.5459999999999999},
                     {'product': 'Espresso shot',
                      'product_category': 'Coffee',
                      'confidence': 0.312},
                     {'product': 'Dark chocolate',
                      'product_category': 'Packaged Chocolate',
                      'confidence': 0.27999999999999997}],
 'Cranberry Scone': [{'product': 'Dark chocolate',
                      'product_category': 'Packaged Chocolate',
                      'confidence': 0.48534201954397393},
                     {'product': 'Cappuccino',
                      'product_category': 'Coffee',
                      'confidence': 0.4527687296416938},
                     {'product': 'Latte',
                      'product_category': 'Coffee',
                      'confidence': 0.4429967426710098}],
 'Croissant': [{'product': 'Latte',
                'product_category': 'Coffee',
                'confidence': 0.5},
               {'product': 'Cappuccino',
                'product_category': 'Coffee',
                'confidence': 0.49337748344370863},
               {'product': 'Dark chocolate',
                'product_category': 'Packaged Chocolate',
                'confidence': 0.4470198675496689}],
 'Ginger Biscotti': [{'product': 'Latte',
                      'product_category': 'Coffee',
                      'confidence': 0.5088967971530249},
                     {'product': 'Cappuccino',
                      'product_category': 'Coffee',
                      'confidence': 0.505338078291815}],
 'Ginger Scone': [{'product': 'Cappuccino',
                   'product_category': 'Coffee',
                   'confidence': 0.4475920679886685},
                  {'product': 'Dark chocolate',
                   'product_category': 'Packaged Chocolate',
                   'confidence': 0.4475920679886685},
                  {'product': 'Latte',
                   'product_category': 'Coffee',
                   'confidence': 0.41359773371104813}],
 'Hazelnut syrup': [{'product': 'Latte',
                     'product_category': 'Coffee',
                     'confidence': 0.5903083700440529},
                    {'product': 'Cappuccino',
                     'product_category': 'Coffee',
                     'confidence': 0.526431718061674},
                    {'product': 'Espresso shot',
                     'product_category': 'Coffee',
                     'confidence': 0.32158590308370044}],
 'Jumbo Savory Scone': [{'product': 'Cappuccino',
                         'product_category': 'Coffee',
                         'confidence': 0.48026315789473684},
                        {'product': 'Dark chocolate',
                         'product_category': 'Packaged Chocolate',
                         'confidence': 0.4473684210526316}],
 'Sugar Free Vanilla syrup': [{'product': 'Cappuccino',
                               'product_category': 'Coffee',
                               'confidence': 0.5641509433962264},
                              {'product': 'Latte',
                               'product_category': 'Coffee',
                               'confidence': 0.5433962264150943},
                              {'product': 'Espresso shot',
                               'product_category': 'Coffee',
                               'confidence': 0.30566037735849055}],
 'Espresso shot': [{'product': 'Dark chocolate',
                    'product_category': 'Packaged Chocolate',
                    'confidence': 0.2924187725631769},
                   {'product': 'Sugar Free Vanilla syrup',
                    'product_category': 'Flavours',
                    'confidence': 0.2924187725631769},
                   {'product': 'Carmel syrup',
                    'product_category': 'Flavours',
                    'confidence': 0.2888086642599278},
                   {'product': 'Chocolate syrup',
                    'product_category': 'Flavours',
                    'confidence': 0.2815884476534296},
                   {'product': 'Hazelnut syrup',
                    'product_category': 'Flavours',
                    'confidence': 0.26353790613718414}]}

In [89]:
import json
with open('api/recommendation_objects/apriori_recommendations.json', 'w') as json_file:
    json.dump(recommendations_json, json_file)